{% extends 'base.html.twig' %}

{% block title %} Indications {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>

<a href="{{path('creer')}}">Créer une indication</a> <br/>



Les indications : 
<ul>
{%for indication in indications %}
<li> Medicament : {{indication.getMedicament().getLibelle()}} <br/> Traitement suivi par : {{indication.getTraitement().getNomPatient()}} <br/> Posologie : {{indication.getPosologie()}}
<a href="{{path('modifier',{id:indication.getId()})}}">modifier</a>
<a href="{{path('retirer',{id:indication.getId()})}}">supprimer</a>
</li>
{%else%}
Pas d'indication trouvé



{%endfor%}

</div>


{% endblock %}
